body {
    background-color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

main {
    width: 1200px;
    margin-left: 25px;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

img {
    width: 550px;
    margin-top: 90px;
}

div {
    margin-top: 165px;
    margin-left: 200px;
}

h1 {
    font-size: 120px;
    color: #289BF0;
    line-height: 0.2em;
    margin-top: 60px;
} 

p {
    font-size: 45px;
    color: black;
    text-transform:uppercase;
    font-weight: bold;
    margin-top: -45px;
}

a {
    text-decoration: none;
    border: 0.1em solid;
    border-radius: 2.25em;
    font-size: 20px;       /* 20px=1em. */
    padding: 0.5em 2.0em;
    color:#289BF0 ; 
}  